{% extends "base.html" %}

{% block content %}
                <div>
                    <h1 class="text-4xl text-gray-800">Agents</h1>
                </div>
                <div>
                    <a class="text-gray-500 hover:text-blue-500" href="{% url 'agents:agent-create' %}">Create a new agent</a>
                </div>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                Full Name
                                </th>
                                <th>
                                Email
                                </th>
                                <th>
                                <span>Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for agent in object_list %}
                                <tr>
                                    <td>
                                        {{ agent.user.first_name }} {{ agent.user.last_name }}
                                    </td>
                                    <td>
                                        {{ agent.user.email }}
                                    </td>
                                    <td>
                                        <a href="{% url 'agents:agent-update' agent.pk %}">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}

                            <tr>
                                <td colspan="3">There are currently no agents</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                </div>
            </div>

        </div>
      </section>
{% endblock content %}
